.to-top-button {
	opacity: 0;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 46px;
	width: 46px;
	background: var(--clr-background-L1);
	color: var(--clr-text-primary);
	display: flex;
	font-size: 1.4rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.2s ease;
	border: solid 2px var(--clr-text-primary);
	pointer-events: none;
	border-radius: 50%;
	z-index: 200;
}

.to-top-button.active {
	opacity: 1;
	pointer-events: auto;
}

.to-top-button:hover {
	color: var(--clr-primary);
	background: var(--clr-background-L3);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
	.to-top-button {
		bottom: 1.5rem;
		right: 1.5rem;
	}
}
/* End Media Queries */