nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--nav-heigth);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--clr-background-L1);
	color: var(--clr-text-primary);
	border-bottom: solid 2px var(--clr-primary);
	z-index: 100;
}

nav ul li:hover {
	background-color: var(--clr-hover);
}

.logo {
	margin-left: 1rem;
	align-self: center;
}

.logo a {
	display: flex;
	gap: 0.35rem;
}

.logo h1 {
	margin-top: 0.35rem;
}

nav img {
	margin-top: 0.35rem;
    height: 34px;
    cursor: pointer;
	user-select: none;
}


.logo span {
	color: var(--clr-primary);
}

.nav-links {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	gap: 0.125rem;
	transition: var(--fast-transition);
}

.nav-links li {
	border-radius: 4px;
}

.nav-links li a {
	display: flex;
	justify-content: center;
	height: 40px;
	min-width: 40px;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	user-select: none;
}

.nav-icon {
	font-size: 1.125rem;
}

.user-options-toggler {
	min-width: 110px;
	position: relative;
}

.user-options-toggler.active {
	background-color: var(--clr-hover);
}

.user-options {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	min-width: 110px;
	top: 52px;
	right: 16px;
	background-color: var(--clr-background-L1);
	color: var(--clr-text-primary);
	padding: 0.15rem;
	transition: var(--fast-transition);
	border-radius: 0 0 2px 2px;
	border: 2px solid var(--clr-primary);
}

.user-options.show {
	opacity: 1;
	pointer-events: auto;
}

.user-options li {
	display: flex;
	gap: 0.25rem;
	align-items: center;
	transition: var(--fast-transition);
	cursor: pointer;
	padding: 0.5rem;
	margin-bottom: 0.125rem;
	text-transform: capitalize;
	border-radius: 2px;
	user-select: none;
}

li.seperator {
	cursor: default;
	background-color: var(--clr-text-secondary);
	height: 1px;
	padding: 0;
	margin: 0.25rem 0;
}

.user-options li:hover:not(.seperator) {
	background: var(--clr-hover);
}

/* Burger styles */
.burger-container {
	display: none;
	cursor: pointer;
	margin-right: 1rem;
}

.burger-container > div {
	height: 3px;
	width: 28px;
	margin: 5px;
	background: var(--clr-text-primary);
	transition: var(--fast-transition);
}

.darkmode-toggler-mobile {
	display: none;
	pointer-events: none;
}
/* End Burger styles */

/* Media Queries */
@media only screen and (max-width: 480px) {
	.burger-container {
		display: block;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: calc(var(--nav-heigth) - 3px);
		right: 0;
		top: 52px;
		width: min(165px, calc(100% + 2px));
		background: var(--clr-background-L1);
		transform: translateX(115%);
		padding: 0.5rem 1rem;
		margin: 0rem;
		border-bottom: solid 2px var(--clr-primary);
		border-left: solid 2px var(--clr-primary);
	}

	.nav-links li {
		width: 100%;
	}

	.nav-links.active {
		transform: translateX(0);
	}

	.darkmode-toggler-mobile {
		display: block;
		pointer-events: auto;
	}

	.nav-icon {
		font-size: 1rem;
	}

	.user-options {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: min(165px, calc(100% + 2px));
		top: 143px;
		right: 0px;
		padding: 0 1rem 0.5rem;
		border-top: 0;
		border-right: 0;
	}

	.user-options li {
		padding: 0.5rem;
		border-radius: 4px;
		width: 100%;
	}

	.user-options li {
		justify-content: flex-end;
		gap: 0.5rem;
	}

	li.seperator {
		cursor: default;
		background-color: var(--clr-text-secondary);
		height: 1px;
		padding: 0;
		width: 100%;
		margin: 0.25rem 0;
	}

	.nav-links li a {
		justify-content: flex-end;
		gap: 0.5rem;
	}

	ul li:hover {
		background-color: transparent;
	}
}
/* End Media Queries */

/* Keyframes and Animations */
.burger-container.active > div:nth-child(1) {
	transform: rotate(45deg) translate(5px, 6px);
}

.burger-container.active > div:nth-child(2) {
	opacity: 0;
}

.burger-container.active > div:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -6px);
}
/* End Keyframes and Animations */
