.calculator-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.featured-app-icon-container {
	font-size: 1.125rem;
	position: absolute;
	top: 26px;
	right: 20px;
	display: flex;
}

.calculator-card {
	padding: 1rem;
	background-color: var(--clr-background-L2);
	border-radius: 4px;
	transition: var(--fast-transition);
	width: calc(50% - 0.5rem);
	border: solid 2px var(--clr-primary);
	cursor: pointer;
	position: relative;
}

.calculator-card p {
	margin-top: 1rem;
	color: var(--clr-text-secondary);
}

.calculator-card h2 {
	margin-bottom: 0.25rem;
}

.calculator-card:hover,
.calculator-card:focus {
	background-color: var(--clr-background-L3);
}

.featured-apps-seperator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 2rem);
	margin: 1rem 0;
}

.featured-apps-seperator h2 {
	padding: 0 1.5rem;
}

.featured-apps-seperator h2::first-letter {
	color: var(--clr-primary);
}

.featured-apps-seperator div {
	height: 2px;
	width: 100%;
	background-color: var(--clr-gray);
}

/* Media queries */
@media only screen and (max-width: 576px) {
	.calculator-card {
		width: 100%;
	}
}
/* End Media queries */
