/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--clr-base: #855db5;
	/* Background */
	--clr-background-L0: #ffffff; /* Body */
	--clr-background-L1: #fbfbfb; /* Nav, Input(inactive), Footer,  */
	--clr-background-L2: #f5f8fb; /* Input(active) */
	--clr-background-L3: #f0f3fb; /* Chart */
	/* Text */
	--clr-text-primary: #1b1b1b;
	--clr-text-secondary: #5f5f5f;
	/* Primary Colors */
	--clr-primary: #68498d;
	--clr-primary-opacity-low: #68498d99;
	--clr-primary-opacity-high: #68498dcc;
	/* White and Hover */
	--clr-white: #fafafa;
	--clr-hover: #f0f0f0;
	/* Success and Danger */
	--clr-danger: #ab141c;
	--clr-success: #096a19;
	/* Other */
	--font-main: 'Poppins', sans-serif;
	--nav-heigth: 3.35rem;
	--box-shadow: 0px 0px 10px 0px rgb(27 27 27 / 35%);
	--nav-height: 4rem;
	/* Toast styles */
	--toastify-color-light: var(--clr-background-L1) !important;
	--toastify-color-dark: var(--clr-background-L1) !important;
	--toastify-text-color-light: var(--clr-text-primary) !important;
	--toastify-text-color-dark: var(--clr-text-primary) !important;
	--toastify-icon-color-success: var(--clr-success) !important;
	--toastify-icon-color-error: var(--clr-danger) !important;
	--toastify-color-progress-success: var(--clr-success) !important;
	--toastify-color-progress-error: var(--clr-danger) !important;
}

.darkmode {
	/* Background */
	--clr-background-L0: #1b181f; /* Body */
	--clr-background-L1: #242128; /* Nav, Search(inactive), Table,  Footer,  */
	--clr-background-L2: #2b282f; /* Hover table item */
	--clr-background-L3: #322f36; /* Chart */
	/* Text */
	--clr-text-primary: #fafafa;
	--clr-text-secondary: #aeaeae;
	--clr-hover: #353535;
	/* Primary Colors */
	--clr-primary: #b69ed3;
	/* Opacity */
	--clr-primary-opacity-low: #b69ed399;
	--clr-primary-opacity-high: #b69ed3bb;
	/* Success and Danger */
	--clr-danger: #f96767;
	--clr-success: #12cc2f;
}

html {
	overflow-y: scroll;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

::selection {
	background: var(--clr-primary-opacity-low);
}

::placeholder {
	color: var(--clr-text-secondary);
}

body {
	background: var(--clr-background-L0);
	overflow-x: hidden;
	color: var(--clr-text-primary);
}

ul {
	list-style: none;
}

button {
	border: none;
}

a {
	text-decoration: none;
	color: var(--clr-text-primary);
	cursor: pointer;
}

li a:hover {
	background-color: var(--clr-hover);
	border-radius: 4px;
}

.container {
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--nav-heigth));
	width: min(992px, 95vw);
	margin: 0 auto;
	margin-top: var(--nav-heigth);
	padding-bottom: 2rem;
	align-items: center;
}

.heading {
	text-align: center;
	font-weight: 700;
	margin-bottom: 3rem;
	padding: 0 20px;
	user-select: none;
}

.heading h1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(1.25rem, 5vw, 2.25rem);
}

.heading.authentication h1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.25rem;
}

.heading span {
	color: var(--clr-primary);
}

.heading p {
	color: var(--clr-primary-opacity-high);
}

.heading svg {
	margin-right: 0.75rem;
}

.form {
	width: min(90%, 650px);
	margin: 0 auto;
	padding: 2rem;
	border-radius: 4px;
	background-color: var(--clr-background-L1);
	border: solid 2px var(--clr-primary);
	margin-bottom: 3rem;
}

.form-group {
	margin-bottom: 10px;
}

.form-group:last-child {
	margin-bottom: 0px;
}

.form-group label {
	width: 100%;
	user-select: none;
	display: inline-block;
	margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: none;
	outline: 1px solid var(--clr-text-secondary);
	border-radius: 4px;
	margin-bottom: 10px;
	font-family: var(--font-main);
	color: var(--clr-text-primary);
	background-color: var(--clr-background-L2);
}

.split input {
	width: 50%;
}

/* Override autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px var(--clr-background-L2) inset !important;
}

input:focus,
textarea:focus {
	background-color: var(--clr-background-L3);
	outline: solid 2px var(--clr-primary);
}

.btn {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1rem;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	color: var(--clr-white);
	background-color: var(--clr-primary);
	transition: all 0.15s;
}

.btn:hover {
	transform: scale(0.99);
}

.btn-block {
	width: 100%;
}

.icon {
	color: var(--clr-text-primary);
	user-select: none;
	cursor: pointer;
}

/* React select */
.react-select__control {
	background-color: var(--bg-secondary);
	border-color: var(--border-color);
	transition: none;
	background-color: var(--clr-background-L1) !important;
	box-shadow: none !important;
}

.react-select__menu {
	background-color: var(--bg-secondary);
	border: 1px solid var(--border-color);
	background-color: var(--clr-background-L1) !important;
}

.react-select__option:hover {
	background-color: #68498d !important;
}

.react-select__indicator-separator {
	background-color: var(--clr-text-primary) !important;
}

.react-select__placeholder,
.react-select__single-value {
	color: var(--clr-text-primary) !important;
}
/* End React select */

/* Media Queries */
@media only screen and (max-width: 480px) {
	.container {
		width: 90vw;
	}
}
/* End Media Queries */
