.report-container {
    width: 100%;
    padding: 1rem;
}

.report-top {
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.report-group {
    text-align: center;
    flex: 1 1 25%;
}

.report-group h2 {
    font-size: 2rem;
}

.report-group p {
    font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
    .report-group {
        flex: 1 1 50%;
    }
}

@media only screen and (max-width: 576px) {
    .report-group {
        flex: 1 1 100%;
    }
    .input-group {
        flex: 1 1 100% !important;
    }
}