.report-container {
	width: min(90%, 650px);
	margin-bottom: 3rem;
}

.report-container h1 {
	margin-bottom: 0.5rem;
}
.report-container h1 span {
	color: var(--clr-primary);
}

.summary-container {
	border-top: solid 2px var(--clr-primary);
	border-bottom: solid 2px var(--clr-primary);
	padding: 1rem 0;
}

.chart-container {
	height: 420px;
}

.report-top {
	display: flex;
	row-gap: 1rem;
	flex-wrap: wrap;
	width: 100%;
}

.report-group {
	text-align: left;
	flex: 1 1 50%;
}

.report-group h2 {
	font-size: 2rem;
}

.report-group p {
	font-size: 1.25rem;
}

.form-controls-top {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.125rem;
}

.form-controls-top div.icon {
	display: flex;
	padding: 0.5rem;
	font-size: 1.125rem;
	color: var(--clr-text-secondary);
	transition: var(--fast-transition);
	border-radius: 4px;
}

.form-controls-top div.icon.save:hover {
	color: var(--clr-success);
	background-color: var(--clr-hover);
}

.form-controls-top div.icon.reset:hover {
	color: var(--clr-danger);
	background-color: var(--clr-hover);
}

.input-icon-wrapper {
	position: absolute;
	top: 39px;
	right: 2px;
	pointer-events: none;
	display: flex;
	padding: 0.5rem;
	color: var(--clr-text-secondary);
	opacity: 0.5;
}

.contribution-multiplier-icon-container {
	position: absolute;
	top: 39px;
	right: 2px;
	cursor: pointer;
	display: flex;
	padding: 0.5rem;
	font-size: 1.125rem;
	color: var(--clr-text-secondary);
	opacity: 0.5;
	transition: var(--fast-transition);
	border-radius: 4px;
}

input#contribution,
input#interestRate {
	padding-right: 34px;
}

.contribution-multiplier-icon-container.withdraw {
	color: var(--clr-danger);
}
.contribution-multiplier-icon-container.deposit {
	color: var(--clr-success);
}

.contribution-multiplier-icon-container.withdraw:hover {
	opacity: 1;
}
.contribution-multiplier-icon-container.deposit:hover {
	opacity: 1;
}

.interest-chart {
	/* background-color: var(--clr-background-L2); */
}

@media only screen and (max-width: 576px) {
	.report-group {
		flex: 1 1 100%;
	}
	.input-group {
		flex: 1 1 100% !important;
	}
	.form-controls-top div.icon.save:hover,
	.form-controls-top div.icon.reset:hover {
		background-color: transparent;
        color: var(--clr-text-secondary);
	}
}
